<!-- 328/application/views/app-personal-info.html  -->
<include href="views/header.html"></include>
<body class="bg-white">
<include href="views/nav-bar.html"></include>

<div class="container bg-light">
    <br>
    <h1>Personal Information</h1>
    <hr class="hr">

    <form action="#" method="post">
        <div class="row">
            <div class="mb-3 col-md-8">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control"  name="first-name" id="first-name"
                            placeholder="Sarah">
                        <check if="{{ isset(@errors['userFName']) }}">
                            <span class="err">{{ @errors['userFName'] }}</span>
                        </check>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" name="last-name" id="last-name"
                            placeholder="Smith">
                        <check if="{{ isset(@errors['userLName']) }}">
                            <span class="err">{{ @errors['userLName'] }}</span>
                        </check>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user-email">Email</label>
                    <input type="email" class="form-control" name="user-email" id="user-email"
                        placeholder="my_email@gmail.com">
                    <check if="{{ isset(@errors['userEmail']) }}">
                        <span class="err">{{ @errors['userEmail'] }}</span>
                    </check>
                </div>
            </div>
            <div class="mb-3 col-md-4">
                <div class="container bg-secondary-subtle rounded" >
                    <br>
                    <p><b>Note:</b> All information entered is protected by our <b>privacy policy.</b> Profile information can only be viewed by others with your permission.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="user-state" class="form-label">State</label>
                    <select id="user-state" class="form-select" name="user-state">
                        <option selected>Washington</option>
                        <option value="Anything else">Anything else</option>
                    </select>
                </div>
                <div class="mb-3 col-md-4">
                    <label for="phone-num">Phone (only the numbers)</label>
                    <input type="text" class="form-control" name="phone-num" id="phone-num"
                        placeholder="2223334444">
                    <check if="{{ isset(@errors['userPhone']) }}">
                        <span class="err">{{ @errors['userPhone'] }}</span>
                    </check>
                </div>
                <div class="mb-3 col-md-8">
                    <p>Mailing Lists</p>
                    <input class="form-check-input" type="checkbox" name="mailing-signup" id="mailing-signup" value="true">
                    <label class="form-check-label" for="mailing-signup">Sign me up for job opening mailings!</label>
                </div>
                <div class="mb-3 col-md-4 d-grid">
                    <br>
                    <button type="submit" class="btn btn-outline-success">Next ></button>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>