<!-- 328/application/views/app-experience.html  -->
<include href="views/header.html"></include>
<body class="bg-white">
<include href="views/nav-bar.html"></include>

<div class="container bg-light">
    <br>
    <h1>Experience</h1>
    <hr class="hr">

    <form action="#" method="post">
        <div class="row">
            <div class="mb-3 col-md-8">
                <div class="col-auto">
                    <label for="user-bio">Biography</label>
                    <textarea rows="10" class="form-control"  name="user-bio" id="user-bio"
                              placeholder="Speak up, don't be shy!"></textarea>
                </div>
            </div>
            <div class="mb-3 col-md-4">
                <div class="mb-3">
                    <label for="user-github">Github link</label>
                    <input type="text" class="form-control"  name="user-github" id="user-github"
                           placeholder="https://github.com/my_github">
                </div>
                <fieldset class="mb-3">
                    <legend class="col-form-label">Years Experience</legend>
                    <repeat group="{{ @years }}" value="{{ @year }}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user-years" id="{{ @year }}" value="{{ @year }}">
                            <label class="form-check-label" for="{{ @year }}">{{ @year }}</label>
                        </div>
                    </repeat>
                </fieldset>
                <check if="{{ isset(@errors['userYears']) }}">
                    <span class="err">{{ @errors['userYears'] }}</span>
                </check>
                <fieldset class="mb-3">
                    <legend class="col-form-label">Willing to Relocate</legend>
                    <repeat group="{{ @relocate }}" value="{{ @relocateSelect }}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user-relocate" id="{{ @relocateSelect }}" value="{{ @relocateSelect }}">
                            <label class="form-check-label" for="{{ @relocateSelect }}">{{ @relocateSelect }}</label>
                        </div>
                    </repeat>
                </fieldset>
                <div class="mb-3 d-grid">
                    <button type="submit" class="btn btn-outline-success">Next ></button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>