<!-- 328/application/views/home.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Software Apply!</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1">AppCompany LLC</span>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Apply now!</button>
        </div>
    </nav>
    <div class="container">
        <h1>Software Development Internship</h1>
        <h4>Seattle Washington, Paid, 12 weeks</h4>
    </div>
    <div class="container" id="content-container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">About the Internship</h3>
                <p>We are searching for a motivated student software developer for an IOS and Android development internship.</p>
                <h3 class="text-center">More About Us</h3>
                <p>The produce we build have a positive impact on people's lives and the world around us.
                If you are just starting your journey in software development, or you are a season pro, we have a place for you here.
                Our apps are used all around the world, so you will have an opportunity here to learn and grow in an environment where millions of people every day interact with our technology.</p>
                <p>Our top paid CEOs don't rake in cash at your expense, and our shareholders only get a dividend.
                This enables us to pay our employees with the best wages and benefits imaginable. We don't offer merely "competitive" wages,
                we pay each employee the largest cut of the product of their labor. Also, unlike our competitors, we don't
                manipulate our users or sell their data to say in business. Truly a cutting edge company, you will love working here!</p>
                <h3 class="text-center">Meet Our Team</h3>
                <p><span class="quote">"Come work for a company where all of our teams enjoy the autonomy to do their own decision making."</span> -Sara, CEO</p>
                <p><span class="quote">"This company is unique, we all own the efforts of our labor, upper management exists only to facilitate our success."</span> -Marshall, President</p>
                <p><span class="quote">"Everyone makes a difference here, we are constantly improving and evolving."</span> -Helin, Senior Developer</p>
                <div class="text-center">
                    <button class="btn btn-outline-success" type="submit">Apply now!</button>
                </div>
            </div>
            <div class="col">
                <img src="images/desk-room-office.jpg" alt="Office Image">
            </div>
        </div>
    </div>
</body>
</html>