<nav class="navbar navbar-light" >
    <div class="container">
        <a class="nav-link active" href="./"><span class="navbar-brand mb-0 h1">AppCompany LLC</span></a>
        <a href="apply1" class="btn btn-outline-success my-2 my-sm-0">Apply now!</a>
    </div>
    <div class="container">
        <a class="nav-link active" href="./"><h3>Software Development Internship</h3></a>
    </div>
    <div class="container">
        <h5>Seattle Washington, Paid, 12 weeks</h5>
    </div>
</nav>